<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if template == 'index' %}
  <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

  {{ content_for_header }}
  
  {{ 'bootstrap.css' | asset_url | stylesheet_tag }} 
  {{ 'assets.css' | asset_url | stylesheet_tag }} 
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="{{ 'favicon.ico' | asset_url }}" rel="icon" type="image/x-icon" />
  {{ settings.heading_custom_font_code }}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  {{ 'ie8.css' | asset_url | stylesheet_tag }}
  <![endif]-->

<!--[if gte IE 8]>
<style type="text/css">.header_tiles ul.header_tiles-1 li.tile_currency select {padding: 0 0 0 8px !important;}</style>
<![endif]-->
  
  <!--[if gte IE 9]>
    <style type="text/css">
      .gradient {
         filter: none;
      }
    </style>
  <![endif]-->

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' | script_tag }}  

  {{ 'bootstrap.min.js'  | asset_url | script_tag }}
  {{ 'jquery-migrate-1.2.1.min.js'  | asset_url | script_tag }}
  {{ 'shop.js'  | asset_url | script_tag }}
  {{ 'jquery.nivoslider.js' | asset_url | script_tag }}
  {{ 'jquery.easing.1.3.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | asset_url | script_tag }}
  {{ 'ajaxify-shop.js' | asset_url | script_tag }}
  {{ 'hoverIntent.js' | asset_url | script_tag }}
  {{ 'superfish.js' | asset_url | script_tag }}
  {{ 'supersubs.js' | asset_url | script_tag }}
  {{ 'jquery.mobilemenu.js' | asset_url | script_tag }}
  {{ 'sftouchscreen.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox-1.3.4.js' | asset_url | script_tag }}
  {{ 'jquery.bxslider.min.js' | asset_url | script_tag }}
  {{ 'jquery.caroufredsel.min.js' | asset_url | script_tag }}
  {{ 'jquery.customSelect.min.js' | asset_url | script_tag }}
  
</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
 
<div id="wrapper">

<header id="header">
<div class="container">

<!-- logo -->
        {% if settings.use_logo %}
        <h1 id="site-title">
        <a id="logo" href="/">
        {{ 'logo.png' | asset_url | img_tag: shop.name }}
        </a>
        </h1>
        {% endif %}

        <h1 id="site-title"{% if settings.use_logo %} class="hidden"{% endif %}>
        <a class="trs_color" href="/">{{ shop.name }}</a>
        </h1>

<!-- tiles -->
<div class="header_tiles">
  
<ul class="header_tiles-1">
<!-- home -->
    <li class="tile tile_home trs_scale">
        <a href="/"><i class="fa fa-home"></i></a>
    </li>
<!-- twitter -->
    <li class="tile tile_twi trs_scale">
        {% if settings.header_social_1_twi != '' %}<a href="{{ settings.header_social_1_twi }}"><i class="fa fa-twitter"></i></a>{% endif %}
    </li>
<!-- google+ -->
    <li class="tile tile_gpl trs_scale">
        {% if settings.header_social_2_gpl != '' %}<a href="{{ settings.header_social_2_gpl }}"><i class="fa fa-google-plus"></i></a>{% endif %}
    </li>
<!-- facebook -->
    <li class="tile tile_fcb trs_scale">
        {% if settings.header_social_3_fcb != '' %}<a href="{{ settings.header_social_3_fcb }}"><i class="fa fa-facebook"></i></a>{% endif %}
    </li>
<!-- pinterest -->
    <li class="tile tile_pin trs_scale">
        {% if settings.header_social_4_pin != '' %}<a href="{{ settings.header_social_4_pin }}"><i class="fa fa-pinterest"></i></a>{% endif %}
    </li>
<!-- customer -->
    <li class="tile tile_customer trs_scale">
        {% if shop.customer_accounts_enabled %}
            {% if customer %}
                <a href="/account"><i class="fa fa-user"></i></a>
            {% else %}
                {{ "<i class='fa fa-user'></i>" | customer_login_link }}
            {% endif %}
        {% endif %}
    </li>
<!-- currency -->
    <li class="tile_currency">
        {% if settings.show_multiple_currencies %}
        {% include 'snippet-currencies-switcher' %}
        {% endif %}
    </li>
</ul>

<ul class="header_tiles-2">
    <li class="tile_search trs_bg">
<!-- search form -->
        <form id="search_top" class="search-form" action="/search" method="get" role="search">
            <input id="search-field" type="text" name="q" placeholder="Search" />
            <a class="search-submit" href="javascript:document.getElementById('search_top').submit();"><i class="fa fa-arrow-circle-o-right trs_hover"></i></a>
        </form>
    </li>
    <li class="tile_cart trs_bg">
<!-- shopping cart -->
        <a href="/cart">
            <i class="fa fa-shopping-cart"></i>
            <b>Cart:</b>
          <span class="cart-total-items"><span class="count">{{ cart.item_count }}</span> {{ cart.item_count | pluralize: "Item", "Items" }}</span>
            <i class="fa fa-arrow-circle-o-right"></i>
        </a>
    </li>
</ul>

</div>

<!-- Navigation -->
{% if settings.main_nav != '' %}
<div id="navigation">
<nav role="navigation">

    <ul class="sf-menu nav">
    {% for link in linklists[settings.main_nav].links %}

    {% assign has_sub_menu = false %}
    {% assign has_sub_categories = false %}
    {% assign parent_link_active = false %}
    {% assign child_list_handle = link.title | handle %}
    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
    {% assign has_sub_menu = true %}
    {% for l in linklists[child_list_handle].links %}
    {% if page_title == l.title %}
    {% assign parent_link_active = true %}
    {% endif %}
    {% endfor %}
    {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}
    {% assign has_sub_categories = true %}
    {% endif %}
    <li class="{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}{% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}">
    {{ link.title | link_to: link.url }}
    {% if has_sub_menu or has_sub_categories %}
    <ul>
    {% if has_sub_menu %}
    {% for l in linklists[child_list_handle].links %}
    <li class="{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}{% if l.active %} active{% endif %}">
    <a class="{% if forloop.first %}first{% elsif forloop.last %}last{% endif %}" href="{{ l.url }}">{{ l.title }}</a>
    </li>
    {% endfor %}
    {% elsif has_sub_categories %}
    {% for tag in link.object.all_tags %}
    <li class="{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}{% if current_tags contains tag %} active{% endif %}">
    <a class="{% if forloop.first %}first{% elsif forloop.last %}last{% endif %}" href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a>
    </li>
    {% endfor %}
    {% endif %}
    </ul>
    {% endif %}
    </li>
    {% endfor %}
    </ul>
<script>
  jQuery(function($){
    $('.sf-menu a').addClass('trs_bg');
  });
</script>
</nav>
</div>
{% endif %}

</div>
</header>

{% if template == 'index' %}
<!-- slider -->
{% include 'widget-nivoslider' %} 
{% endif %}

<!-- showcase -->
{% if template == 'index' %}
<div id="showcase" class="container">
<div class="row clearfix">

    <div class="banner banner_1 col-sm-3 col-xs-6">
    <a class="trs_bg" href="{{ settings.banner_1_link }}">
        <img src="{{ "banner_1_img.png" | asset_url }}" alt="" />
        <h3>{{ settings.banner_1_title }}</h3>
        <p>{{ settings.banner_1_text }}</p>
        <i class="fa fa-arrow-circle-o-right"></i>
    </a>
    </div>

    <div class="banner banner_2 col-sm-3 col-xs-6">
    <a class="trs_bg" href="{{ settings.banner_2_link }}">
        <img src="{{ "banner_2_img.png" | asset_url }}" alt="" />
        <h3>{{ settings.banner_2_title }}</h3>
        <p>{{ settings.banner_2_text }}</p>
        <i class="fa fa-arrow-circle-o-right"></i>
    </a>
    </div>

    <div class="banner banner_3 col-sm-3 col-xs-6">
    <a class="trs_bg" href="{{ settings.banner_3_link }}">
        <img src="{{ "banner_3_img.png" | asset_url }}" alt="" />
        <h3>{{ settings.banner_3_title }}</h3>
        <p>{{ settings.banner_3_text }}</p>
        <i class="fa fa-arrow-circle-o-right"></i>
    </a>
    </div>

    <div class="banner banner_4 col-sm-3 col-xs-6">
    <a class="trs_bg" href="{{ settings.banner_4_link }}">
        <img src="{{ "banner_4_img.png" | asset_url }}" alt="" />
        <h3>{{ settings.banner_4_title }}</h3>
        <p>{{ settings.banner_4_text }}</p>
        <i class="fa fa-arrow-circle-o-right"></i>
    </a>
    </div>

</div>
</div>
{% endif %}

<!-- main content -->
<div id="main" class="container" role="main">

    {% if template != 'index' %}
    {% if settings.enable_breadcrumbs %}
    <div class="breadcrumbs">{% include 'snippet-breadcrumbs' %}</div>
    {% endif %}
    {% endif %}

    <div class="row"> 
    {% case template %}
    {% when 'index' %}
    {% assign width_sidebars = false %} 
    {% when 'page.homepage' %}
    {% assign width_sidebars = false %} 
    {% when 'page.noasides' %}
    {% assign width_sidebars = false %} 
    {% else %}
    {% assign width_sidebars = true %}
    {% endcase %}

<!-- left column -->
    {% if settings.enable_left_sidebar %}
    {% if width_sidebars == true %}
    <div id="aside-left" class="col-sm-{{ settings.left_sidebar_width }} column">
    {% include 'widget-collections' %}
    {% include 'widget-types' %}
    {% include 'widget-banner' %}
    </div>
    {% endif %} 
    {% endif %} 

    {% if width_sidebars == true %}
    {% assign content_width = settings.content_width %}
    {% else %}
    {% assign content_width = 12 %}
    {% endif %}

<!-- center column -->
    <div id="main_content" class="col-sm-{{ content_width }}">
    {% if template == 'list-collections' %}
    {% include 'collection-listing' %}
    {% else %}
    {{ content_for_layout }}
    {% endif %}
    </div>

<!-- right column -->
    {% if settings.enable_right_sidebar %}
    {% if width_sidebars == true %}
    <div id="aside-right" class="col-sm-{{ settings.right_sidebar_width }} column">
    {% include 'widget-collections' %}
    {% include 'widget-best-sellers' %}
    </div>
    {% endif %}
    {% endif %}

    </div>
</div>

<!-- bottom -->
<div id="bottom" class="container">
<div class="row">

    <div class="bottom_block_1 col-sm-3">
    <h3>{{ settings.bottom_block_1_title }}</h3>
	<p>{{ settings.bottom_block_1_content }}</p>
    </div>

    <div class="bottom_block_2 col-sm-3">
    <h3>{{ settings.bottom_block_2_title }}</h3>
    <ul class="list">
    {% for link in linklists[settings.bottom_block_2_list].links %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
    </ul>
    </div>

    <div class="bottom_block_3 col-sm-3">
    <h3>{{ settings.bottom_block_3_title }}</h3>
    <ul class="list">
    {% for link in linklists[settings.bottom_block_3_list].links %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
    </ul>
    </div>

    <div class="bottom_block_4 col-sm-3">
    <h3>{{ settings.bottom_block_4_title }}</h3>
    <p class="adr">{{ settings.bottom_block_4_adr}}</p>
    <p class="tel"><i class="fa fa-phone-square"></i>{{ settings.bottom_block_4_tel}}</p>
    </div>

</div>
</div>
    {% comment %}Shopify does not support Internet Explorer 6.{% endcomment %}
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="push"></div>
</div><!-- end of #wrapper -->

<!-- footer -->
<footer id="footer">
	<div class="container copyright" role="contentinfo">
      &copy; {{ "now" | date: "%Y" }} {% comment %}{{ shop.name }}{% endcomment %} All Rights Reserved. {% if settings.show_copyright %}Design by <a href="//templatemonster.com">TemplateMonster.com</a>.{% endif %} {{ powered_by_link }}.
	</div>
</footer>

{% include 'snippet-currencies' %}

<script type="text/javascript">
$(document).ready(function(){
  $('#currencies').customSelect();
});
</script>
  
</body>
</html>